[submodule "third_party/absl"]
	path = third_party/absl
	url = https://github.com/abseil/abseil-cpp.git
	branch = master
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags.git
	branch = master
[submodule "third_party/lodepng"]
	path = third_party/lodepng
	url = https://github.com/lvandeve/lodepng.git
	branch = master
